
.container {
  padding : 7px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  border-radius: 8px;
  background: #F0932B;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}


.primary {
  composes: container;
}

.primaryText {
  composes: container;
  backgound: unset;
}
